<div class="card mb-4">
  <div class="card-body">
    <div class="w-100 cleanfix">
      <div class="float-left">
        <h1 class="card-title">Cards</h1>
      </div>
      <div class="float-right">
        <button class="btn btn-sm btn-primary" (click)="create()">New Card</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Card ID</th>
          <th>Card Number</th>
          <th>CVV</th>
          <th>Company</th>
          <th>Expiration Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card.cardid }}</td>
          <td>{{ card.cardnumber }}</td>
          <td>{{ card.cvv }}</td>
          <td>{{ card.company }}</td>
          <td>{{ card.expiration_date | date }}</td>
          <td>
            <button class="btn btn-sm btn-icon btn-secondary" (click)="edit(card)" type="button">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-icon btn-danger" (click)="delete(card)" type="button">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!loading && cards.length <= 0">
        <div class="card text-center">
          <div class="card-block">
            <br/>
            <h4 class="card-title">No cards yet!</h4>
            <br/>
          </div>
        </div>
      </div>
  </div>
</div>
