<div class="modal-header">
  <h3 class="modal-title">Card</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>Number</label>
      <input type="text" [(ngModel)]="card.cardnumber" placeholder="Number" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>CVV</label>
      <input type="text" [(ngModel)]="card.cvv" placeholder="CVV" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Company</label>
      <input type="text" [(ngModel)]="card.company" placeholder="Company" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Expiration Date</label>
      <input type="Date" [(ngModel)]="card.expiration_date" placeholder="Expiration Date" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" (click)="submit()">Ok</button>
</div>