<div class="modal-header">
  <h3 class="modal-title">User</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="user.name" placeholder="Name" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" [(ngModel)]="user.surname" placeholder="Surname" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input type="email" [(ngModel)]="user.email" placeholder="E-mail Address" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" (click)="submit()">Ok</button>
</div>