<div class="header">
  <div class="w-100 clearfix">
    <div class="float-left">
      <img class="headerGravatar" gravatar [email]="sessionService.me?.email" [size]="128">
    </div>
    <div class="float-left p-3">
      <h1>Welcome {{ sessionService.me?.name }} {{ sessionService.me?.surname }}</h1>
      <h4>{{ sessionService.me?.email }}</h4>

      <a [ngClass]="{'hidden':router.isActive('/main/cards', false)}" [routerLink]="['/main/cards']">Cards</a>
      <a [ngClass]="{'hidden':router.isActive('/main/my-account', false)}" [routerLink]="['/main/my-account']">My Account</a>
    </div>
    <div class="float-right">
      <div class="btn btn-sm btn-danger" (click)="logout()">Logout</div>
    </div>
  </div>
</div>
