<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <div class="logo text-uppercase">
          <strong class="text-primary">Upnid</strong>
          <span>Test</span>
        </div>
        <br>
        <br>

        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="user.name" placeholder="Name" class="form-control" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Surname</label>
            <input type="text" [(ngModel)]="user.surname" placeholder="Surname" class="form-control" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="email" [(ngModel)]="user.email" placeholder="E-mail Address" class="form-control" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="user.password" placeholder="Password" class="form-control" [ngModelOptions]="{standalone: true}">
          </div>
        </form>

        <button class="btn btn-danger" [routerLink]="['/auth']">Cancel</button>
        <button class="btn btn-success" type="button" (click)="register()">Ok</button>

      </div>
    </div>
  </div>
</div>
