/*
* ==========================================================
*     LOGIN PAGE
* ==========================================================
*/

.login-page,
.register-page {
  background: #f5f5f5;
  min-height: auto;
  padding-bottom: 0;
}

.login-page .form-outer,
.register-page .form-outer {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.login-page .copyrights,
.register-page .copyrights {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.login-page .copyrights p,
.register-page .copyrights p {
  font-size: 0.6em;
  font-weight: 300;
  margin-bottom: 10px;
}

.login-page .form-inner,
.register-page .form-inner {
  width: 100%;
  padding: 40px 30px;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-page .logo,
.register-page .logo {
  font-size: 2em;
  font-weight: 500;
}

.login-page .logo span,
.register-page .logo span {
  color: #ccc;
}

.login-page p,
.register-page p {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 0;
}

.login-page form,
.register-page form {
  margin: 0 auto 10px;
  max-width: 300px;
}

.login-page form .form-group,
.register-page form .form-group {
  position: relative;
}

.login-page form input,
.register-page form input {
  outline: none;
  border-radius: 0;
  width: 100%;
  margin-right: 10px;
  padding: 6px 10px;
  color: #333;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.login-page form input[type='text'],
.login-page form input[type='password'],
.login-page form input[type='email'],
.register-page form input[type='text'],
.register-page form input[type='password'],
.register-page form input[type='email'] {
  background: none;
}

.login-page form input[type='submit'],
.register-page form input[type='submit'] {
  width: 200px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 0;
  color: #fff;
}

.login-page form label.error,
.register-page form label.error {
  font-size: 0.7em;
  color: #d9534f;
  margin-bottom: 0;
}

.login-page form label.label-custom,
.register-page form label.label-custom {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
  position: absolute;
  top: 30px;
  right: 0;
  width: 100%;
  cursor: text;
  transition: all 0.4s;
}

.login-page form label.label-custom.active,
.register-page form label.label-custom.active {
  top: 5px;
  color: #33b35a;
}

.login-page a.forgot-pass,
.login-page a.signup,
.register-page a.forgot-pass,
.register-page a.signup {
  font-size: 0.65em;
  color: #43a7fd;
}

.login-page a.forgot-pass:hover,
.login-page a.forgot-pass:focus,
.login-page a.signup:hover,
.login-page a.signup:focus,
.register-page a.forgot-pass:hover,
.register-page a.forgot-pass:focus,
.register-page a.signup:hover,
.register-page a.signup:focus {
  color: #43a7fd;
  text-decoration: none;
}

.login-page a.forgot-pass,
.register-page a.forgot-pass {
  display: block;
}

.login-page a.create-account,
.register-page a.create-account {
  border-radius: 50px;
  font-size: 0.75em;
  margin-top: 10px;
  color: #999;
  text-transform: uppercase;
}

.login-page .terms-conditions,
.register-page .terms-conditions {
  margin-top: 20px;
}

.login-page small,
.register-page small {
  font-size: 0.65em;
  color: #aaa;
  line-height: 0.9em;
}

/* LOGIN MEDIAQUERIES -------------------------- */

@media (min-width: 992px) {
  .login-page p,
  .register-page p {
    font-size: 0.9em;
  }
  .login-page form label.label-custom,
  .register-page form label.label-custom {
    font-size: 0.9em;
  }
  .login-page form small,
  .register-page form small {
    font-size: 0.8em;
  }
  .login-page .terms-conditions label,
  .register-page .terms-conditions label {
    font-size: 0.9em;
  }
  .login-page a.forgot-pass,
  .login-page a.signup,
  .register-page a.forgot-pass,
  .register-page a.signup {
    font-size: 0.8em;
  }
  .login-page small,
  .register-page small {
    font-size: 0.8em;
  }
  .login-page .copyrights p,
  .register-page .copyrights p {
    font-size: 0.85em;
    font-weight: 400;
  }
}
