<section class="forms">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <div class="w-100 cleanfix">
              <div class="float-left">
                <h1 class="card-title">My Account</h1>
              </div>
              <div class="float-right">
                <button class="btn btn-sm btn-primary" (click)="edit()">Edit</button>
              </div>
            </div>
          </div>

          <table class="table table-striped table-hover">
            <tr>
              <td>Name</td>
              <td>{{ sessionService.me?.name }}</td>
            </tr>
            <tr>
              <td>Surname</td>
              <td>{{ sessionService.me?.surname }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>{{ sessionService.me?.email }}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>
                <span *ngIf="sessionService.me.role === 'admin'" class="badge badge-success">Admin</span>
                <span *ngIf="sessionService.me.role !== 'admin'" class="badge badge-info">Member</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
