<!-- <div class="card mb-4">
  <div class="card-body">
    <h1 class="card-title">Cards</h1>
    <br/>
    <a [routerLink]="['/blog', 'post', post.titleUrl ]" class="btn btn-success">Leia Mais &rarr;</a>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Card ID</th>
          <th>Card Numver</th>
          <th>CVV</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <td>{{ card.cardid }}</td>
          <td>{{ card.cardnumber }}</td>
          <td>{{ card.cvv }}</td>
          <td>
            <button class="btn btn-sm btn-icon btn-secondary" (click)="edit(card)" type="button">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-sm btn-icon btn-danger" (click)="delete(card)" type="button">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
