<section id="cards-section">
  <div *ngIf="!loading">
      <app-card-component [cards]="cards" [onDelete]="onDelete" [onEdit]="onEdit" [newCard]="newCard" [loading]="loading"></app-card-component>
  </div>
  <div *ngIf="loading">
    <div class="text-center">
      <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </div>
    <br/>
  </div>
</section>