<div class="page card-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <app-header-component></app-header-component>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
