<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <div class="logo text-uppercase">
          <strong class="text-primary">Upnid</strong>
          <span>Test</span>
        </div>
        <br>
        <br>
        <form id="login-form" method="post">
          <div class="form-group">
            <label for="login-username" class="label-custom" [ngClass]="{active: EmailFocus || Email}">E-mail</label>
            <input id="login-username" type="text" name="loginUsername" (blur)="setEmailFocus(false)" (focus)="setEmailFocus(true)" [(ngModel)]="Email"
              required>
          </div>
          
          <div class="form-group">
            <label for="logout-password" class="label-custom" [ngClass]="{active: PasswordFocus || Password}">Password</label>
            <input id="login-password" type="password" name="loginPassword" (blur)="setPasswordFocus(false)" (focus)="setPasswordFocus(true)"
              [(ngModel)]="Password" required>
          </div>
          <br>
          <br>
          <button class="btn btn-success" (keyup.enter)="login()" (click)="login()">Login</button>
          <button class="btn btn-light" [routerLink]="['/auth/register']">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
